<a class="search-open" href="#"><i class="fa fa-search"></i></a>
<div class="search-wrap">
	<a class="search-close" href="#"><i class="fa fa-close"></i></a>
	<form class="search-form">
		<input id="search-field" type="text" placeholder="SEARCH" class="search-input">
	</form>
</div>
<div id="search-result"></div>