<div class="social">
	<ul class="social-icons">
		<li><a href="https://www.facebook.com/tbirchard"><i class="fab fa-facebook-f"></i></a></li>
		<li><a href="https://twitter.com/ToddRBirchard"><i class="fab fa-twitter"></i></a></li>
		<li><a href="https://plus.google.com/+ToddBirchard"><i class="fab fa-google-plus-g"></i></a></li>
		<li><a href="https://www.instagram.com/broiestbro/"><i class="fab fa-instagram"></i></a></li>
		<li><a href="http://toddbirchard.me/"><i class="fas fa-user"></i></a></li>
		<li><a href="https://github.com/toddbirchard"><i class="fab fa-github-alt"></i></a></li>
		<li><a href="https://www.linkedin.com/in/tbirchard/"><i class="fab fa-linkedin-in"></i></a></li>
		<li><a href="https://www.quora.com/profile/Todd-Birchard"><i class="fa fa-question"></i></a></li>
		<li><a href="https://www.reddit.com/user/broiestbro/"><i class="fab fa-reddit-alien"></i></a></li>
		<li><a href="https://todd-birchard.tumblr.com/"><i class="fab fa-tumblr"></i></a></li>
		<li><a href="https://stackoverflow.com/users/8246632/todd-birchard?tab=profile"><i class="fab fa-stack-overflow"></i></a></li>
		<li><a href="/rss"><i class="fa fa-rss"></i></a></li>
	</ul>
</div>
