<div class="social">
	<ul class="social-icons">
		<li><a href="https://www.facebook.com/tbirchard"><i class="fa fa-facebook"></i></a></li>
		<li><a href="https://twitter.com/ToddRBirchard"><i class="fa fa-twitter"></i></a></li>
		<li><a href="https://plus.google.com/+ToddBirchard"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="https://www.instagram.com/broiestbro/"><i class="fa fa-instagram"></i></a></li>
		<li><a href="http://toddbirchard.me/"><i class="fa fa-user"></i></a></li>
		<li><a href="https://github.com/toddbirchard"><i class="fa fa-github"></i></a></li>
		<li><a href="https://www.linkedin.com/in/tbirchard/"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="https://www.quora.com/profile/Todd-Birchard"><i class="fa fa-question"></i></a></li>
		<li><a href="https://www.reddit.com/user/broiestbro/"><i class="fa fa-reddit"></i></a></li>
		<li><a href="https://todd-birchard.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>
		<li><a href="https://stackoverflow.com/users/8246632/todd-birchard?tab=profile"><i class="fa fa-stack-overflow"></i></a></li>
		<li><a href="javascript:window.location=%22http://news.ycombinator.com/submitlink?u=%22+encodeURIComponent(document.location)+%22&t=%22+encodeURIComponent(document.title)"><i class="fa fa-hacker-news"></i></a></li>

		<li><a href="/rss"><i class="fa fa-rss"></i></a></li>
	</ul>
</div>
