<!-- start widget -->
<div class="widget">
	<h3 class="title">Twitter</h3>
	<div class="content twitter">
		<!-- start code from publish.twitter.com -->
		<a class="twitter-timeline" data-lang="en" data-tweet-limit="3" data-link-color="#2E4057" href="https://twitter.com/ToddRBirchard">Tweets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<!-- end code from publish.twitter.com -->
	</div>
</div>
<!-- end widget -->
