<!-- start widget -->
<div class="widget">
	<h3 class="title">About This Site</h3>
	<div class="content">
		Todd Industries is a collection of the projects I'm working on. If you like to make things too, we should build something together. 
	</div>
</div>
<!-- end widget -->
